<div class="body-header">
	<h1>Asignar Chofer</h1>
</div>

<div class="body-content ">

	<div class="card">
		<div class="card-header">
			<div class="row">
				<div class="col-3">
					<h5>Vuelo 330</h5>
				</div>
				<div class="col-3">
					<label>03/12/2018 10:45</label>
				</div>
				<div class="col-2 offset-4">
					<button type="submit" class="btn btn-primary">Asignar chofer</button>
				</div>
			</div>

		</div>
		<div class="card-body">
			<div class="table-responsive">
				

				<table class="table table-sm table-hover">
					<thead>
						<tr>
							<th>Sector</th>
							<th>Pasajeros</th>
							<th>Chofer</th>
							<th>Opciones</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>John Jara</td>
							<td>9 54739328</td>
							<td>
								---
							</td>
							<td>
								<button type="submit" class="btn btn-primary">Modificar</button>
							</td>
						</tr>
						<tr>
							<td>Javiera Jara</td>
							<td>9 57295294</td>
							<td>Javiera jara</td>
							<td>
								<button type="submit" class="btn btn-primary ">Modificar</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


