<div class="body-header">
	<h1>Lista de asistencia de pasajeros</h1>
</div>
<div class="body-content">
	<div class="form-group">
		<label for="chofer">Chofer</label>
		<select class="form-control col-5" id="chofer">
			<option value="">Seleccione chofer</option>
			<option value="">Juanito Perez</option>
			<option value="">Carlitos Jara</option>
			<option value="">Luchito Jara</option>	
		</select>
	</div>
	<div>
		<div class="card">
			<div class="card-header">
				<div class="row">
					<div class="col-9">
						<h5>Vuelo 330 Sector poniente</h5>
					</div>
					<div class="col-3">
						<label>03/12/2018 10:45</label>
					</div>
				</div>

			</div>
			<div class="card-body table-responsive">
				<table class="table table-sm table-hover">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Telefono</th>
							<th>Direccion</th>
							<th>N° acompañantes</th>
							<th>Asiste</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>John Jara</td>
							<td>9 54739328</td>
							<td>Irene morales 025</td>
							<td>3</td>
							<td>Si</td>
						</tr>
						<tr>
							<td>Javiera Jara</td>
							<td>9 57295294</td>
							<td>Irene morales 026</td>
							<td>0</td>
							<td>No</td>
						</tr>
					</tbody>
				</table>	
			</div>

		</div>

	</div>
</div>
